<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js sample</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div id="app">
    <h2> 입력폼 활용 </h2>
    이름 : <input type="text" v-model.lazy="name">
    좋아하는 색은 : <br>
    <input type="radio" value="빨강" v-model="color">빨강 <br>
    <input type="radio" value="녹색" v-model="color">녹색 <br>
    <input type="radio" value="파랑색" v-model="color">파랑색 <br>
    <input type="radio" value="노란색" v-model="color">노란색 <br>
    <input type="radio" value="회색" v-model="color">회색 <br>
    내 이름은 {{name}}이고 좋아하는 색은 {{color}}입니다.
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            name:'',
            color:'',
        }
    })
</script>
</body>
</html>